.card-component{
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    background-color: var(--secondaryColor);
    border-radius: 12px;
    border-style: solid;
  border-color: #003249;
}
.card-component img {
    width: 230px;
    height: 230px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 0px;
    
}
.card-text{
    text-align: center;
    font-size: 24px;
    margin-top: 10px;;
    color: white;
} 
.card-component:hover {
    -webkit-box-shadow: 0px 0px 36px 5px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 0px 36px 5px rgba(0,0,0,0.66);
    box-shadow: 0px 0px 36px 5px rgba(0,0,0,0.66);
    transform: scale(1.1);
}
@media only screen and (min-width: 992px) {
    .card-component img {
        width: 230px;
        height: 230px;
       
        
    }
}

@media only screen and (min-width: 800px) {
    .card-component img {
        width: 190px;
        height: 190px;
       
        
    }
}

@media only screen and (min-width: 1800px) {
    .card-component img {
        width: 350px;
        height: 350px;
        
        
    }
    .card-component{
        margin-top: 40px;
    }

}

