.card-content{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.card-title{
    text-align: center;
    font-size: 48px;
    background-color: var(--primaryColor);
    padding: 15px;
}
.card-selection{
    margin-bottom: 40px;
}

.menu {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}

