.wrapper {
  height:100vh;
  width: calc(100% - 5rem);
  margin-left: 5rem;
  display: flex;
  text-align: center;
}
.card-title{
  text-align: center;
  font-size: 48px;
  background-color: var(--primaryColor);
  padding: 15px;
}

.wrapper2 {
    width: calc(100% - 5rem);
    margin-left: 5rem;
    display:flex;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    gap: 2rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  #users {
    width: 20%;
  }
  
  table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96D4D4;
  }
  