<div class="wrapper">
<div class="wrapper2">
    
  <p id="vypis" class="an-1">
    Tvoje témy...</p>
  <div id="grid-col">
    <div class="cell" *ngFor="let item of arrays;let idx=index">
       <table id="users">
        <p div="header">{{arrays[idx][0].titleTopic}}</p>
      <tr>
        <th class="title">SK</th>
        <th class="title">preklad</th>
      </tr>

     <tr> 
      <td>
        {{arrays[idx][0].title}}
  </td>
      <td>
        {{arrays[idx][0].description}}
      </td>
    </tr> 

    <tr> 
      <td>
        {{arrays[idx][1].title}}
  </td> 
      <td>
        {{arrays[idx][1].description}}
      </td>
    </tr> 

    <tr> 
      <td>
        {{arrays[idx][2].title}}
  </td> 
      <td>
        {{arrays[idx][2].description}}
      </td>
    </tr> 
      
    <tr> 
      <td>
        {{arrays[idx][3].title}}
  </td>
      <td>
        {{arrays[idx][3].description}}
      </td> 
      </tr>  

      <tr> 
        <td>
          {{arrays[idx][4].title}}
    </td>
        <td>
          {{arrays[idx][4].description}}
        </td> 
        </tr>  

      </table>
    </div>
      </div>
    </div>
    </div>