
<div>
    <div class="form-component" *ngIf="userHandler === 'login'" [hidden]="userHandler === 'login' ? false : true ">
        <h1 class="form-title" style="color: aliceblue;"> Login</h1>
      <form [formGroup]="formLogin"  #login > 
        <div class="form-section">
            <input class="input-field" type="text"  name="email"  required autofocus formControlName="userName" >
            <label  class="input-label" for="email">E-mail</label>
        </div> 
        <div class="form-section">
            <input class="input-field" type="password"  name="password" required formControlName="password">
            <label class="input-label" for="password">Heslo</label>
        </div>
        <button  class="submit-btn btnPrihlasit" (click)="doLogin()"> Prihlásiť </button>
        <button  class="submit-btn" (click)="showForm('Register')"> Registrovať </button>
      </form>
    </div>

    <div class="form-component" *ngIf="userHandler === 'register'" [hidden]="userHandler === 'register' ? false : true ">
      <h1 class="form-title" style="color: aliceblue;"> Registrovať </h1>
      <form [formGroup]="formRegister"  #login > 
      <div class="form-section">
          <input class="input-field" type="text"  name="email"  required autofocus formControlName="userName"  >
          <label  class="input-label" for="email">E-mail</label>
      </div> 
      <div class="form-section">
          <input class="input-field" type="password"  name="password" required formControlName="password">
          <label class="input-label" for="password">Heslo</label>
      </div>
      <span class="submit-btn btnPrihlasit" (click)="showForm('Login')">Späť</span>
      <button  class="submit-btn" (click)="doRegister()"> Urob registráciu </button>
     </form>
    </div>

    <div class="form-component" *ngIf="userHandler === 'profil'" [hidden]="userHandler === 'profil' ? false : true">
      <h1 class="form-title"  style="color: aliceblue;"> Profil</h1>
      <p  style="color: aliceblue;">Username: {{responseUser.username }}</p>
      <p  style="color: aliceblue;">SCORE: {{responseUser.score}}</p>
      <form > 
        <button  class="submit-btn" (click)="doLogOut()"> Odhlasit </button>
      </form>
    </div>
  </div>
