.table {
  width: calc(100% - 5rem);
  margin-left: 5rem;
  display:flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

#users {
  width: 20%;
}

 th, td {
  border: 3px solid white;
  border-collapse: collapse;
}

table {
  border: 7px solid #003249;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}

.title {
  color:#003249;
}
